---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_160d82Bqa7wW343mjA0a4DjW&description=Thank%20you%20for%20joining%20Rickflix%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_160d83Bqa7wW343mfIaW9TLN"
          }
        }
  recorded_at: Sat, 09 May 2015 18:56:51 GMT
recorded_with: VCR 2.9.3
