---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_165vqFBqa7wW343mw0mkhmrd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_165vqFBqa7wW343mw0mkhmrd",
          "created": 1432461383,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_165vqFBqa7wW343mZuj82FNw",
              "object": "charge",
              "created": 1432461383,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_165vqEBqa7wW343mEHyPCMCf",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2015,
                "fingerprint": "f7lTnKnFL3fT6hHF",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6IWux8bsqss7oz"
              },
              "captured": true,
              "balance_transaction": "txn_165vqFBqa7wW343mIjLIGf4x",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6IWux8bsqss7oz",
              "invoice": "in_165vqEBqa7wW343mtbt2tGI0",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_165vqFBqa7wW343mZuj82FNw/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6IWunoEFLroD2Q",
          "api_version": "2015-04-07"
        }
  recorded_at: Sun, 24 May 2015 10:53:16 GMT
recorded_with: VCR 2.9.3
