---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=5&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_160bW9Bqa7wW343m65pfzfQ8",
          "livemode": false,
          "created": 1431191617,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_160bW9Bqa7wW343m38PJvxWh",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "h3AUk1B04EY6np0K",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "68.119.77.69"
        }
  recorded_at: Sat, 09 May 2015 17:13:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_160bW9Bqa7wW343m65pfzfQ8&description=Stripe%20Wrapper%20Model%20Decline%20Test
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_160bWABqa7wW343m2CzGiNyr"
          }
        }
  recorded_at: Sat, 09 May 2015 17:13:38 GMT
recorded_with: VCR 2.9.3
