---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_165eq4Bqa7wW343m6PUQHjHv&plan=basic&email=valid%40example.com
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432396025,
          "id": "cus_6IFKVfV9pcQgrX",
          "livemode": false,
          "description": null,
          "email": "valid@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6IFKVfV9pcQgrX/subscriptions",
            "data": [
              {
                "id": "sub_6IFKPW4hW50UEx",
                "plan": {
                  "interval": "month",
                  "name": "Rickflix Basic",
                  "created": 1431338881,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1432396025,
                "status": "active",
                "customer": "cus_6IFKVfV9pcQgrX",
                "cancel_at_period_end": false,
                "current_period_start": 1432396025,
                "current_period_end": 1435074425,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6IFKVfV9pcQgrX/sources",
            "data": [
              {
                "id": "card_165eq4Bqa7wW343mwUZAusb1",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "f7lTnKnFL3fT6hHF",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6IFKVfV9pcQgrX"
              }
            ]
          },
          "default_source": "card_165eq4Bqa7wW343mwUZAusb1"
        }
  recorded_at: Sat, 23 May 2015 15:47:05 GMT
recorded_with: VCR 2.9.3
