---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_160YPIBqa7wW343m4EioOU4P&description=Thank%20you%20for%20joining%20Rickflix%20valid%40example.com
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_160YPIBqa7wW343mr5vfwaIo",
          "object": "charge",
          "created": 1431179660,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_160YPIBqa7wW343mdloR9of8",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "f7lTnKnFL3fT6hHF",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_160YPIBqa7wW343mWojZD1dn",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Thank you for joining Rickflix valid@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_160YPIBqa7wW343mr5vfwaIo/refunds",
            "data": []
          }
        }
  recorded_at: Sat, 09 May 2015 13:54:21 GMT
recorded_with: VCR 2.9.3
