---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_161F8WBqa7wW343mCWiHYHm0",
          "livemode": false,
          "created": 1431343912,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_161F8WBqa7wW343mwlBCssBd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2019,
            "fingerprint": "f7lTnKnFL3fT6hHF",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "68.119.77.69"
        }
  recorded_at: Mon, 11 May 2015 11:31:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_161F8WBqa7wW343mCWiHYHm0&plan=basic&email=adrain%40hamill.org
    headers:
      Authorization:
      - Bearer sk_test_RVha1fzaC5Yk5NRlN2hkQQvp
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431343913,
          "id": "cus_6DgVvxzLDlYEYx",
          "livemode": false,
          "description": null,
          "email": "adrain@hamill.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6DgVvxzLDlYEYx/subscriptions",
            "data": [
              {
                "id": "sub_6DgV6mHQ0EkYQn",
                "plan": {
                  "interval": "month",
                  "name": "Rickflix Basic",
                  "created": 1431338881,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1431343913,
                "status": "active",
                "customer": "cus_6DgVvxzLDlYEYx",
                "cancel_at_period_end": false,
                "current_period_start": 1431343913,
                "current_period_end": 1434022313,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6DgVvxzLDlYEYx/sources",
            "data": [
              {
                "id": "card_161F8WBqa7wW343mwlBCssBd",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2019,
                "fingerprint": "f7lTnKnFL3fT6hHF",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6DgVvxzLDlYEYx"
              }
            ]
          },
          "default_source": "card_161F8WBqa7wW343mwlBCssBd"
        }
  recorded_at: Mon, 11 May 2015 11:31:54 GMT
recorded_with: VCR 2.9.3
